body{
  height: 2000px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  border-radius: 5px;
  background-color:none;
  border: 2px solid blue;
  
}
button :hover{
  border: blue;
  background-color: aliceblue;

}
updateButton{
  background-color: aliceblue;
} 
input{
  border-radius: 2px;
  border: 1px solid gray;
  color: black;
}
input ::active{
 border: 1px solid gray;

}
input::placeholder{
  color: gray;
}
.display{
  display: flex;
align-content: center;
  margin-left: 35%;
  gap: 10px;
}